<label>Colores</label>
<ul class="form_paletteslist">
  <li class="first_palette">
    <label for="palette1">
      <input checked id="palette1" name="palette" type="radio" class="js__radioPalette1 input_palette" value="1" />
      Paleta 1
      <div class="colorOne palette"></div>
      <div class="colorTwo palette"></div>
      <div class="colorThree palette"></div>
    </label>
  </li>

  <li class="second_palette">
    <label for="palette2">
      <input id="palette2" name="palette" type="radio" class="js__radioPalette2 input_palette" value="2" />
      Paleta 2
      <div class="colorOne palette"></div>
      <div class="colorTwo palette"></div>
      <div class="colorThree palette"></div>
    </label>
  </li>

  <li class="third_palette">
    <label for="palette3">
      <input id="palette3" name="palette" type="radio" class="js__radioPalette3 input_palette" value="3" />
      Paleta 3
      <div class="colorOne palette"></div>
      <div class="colorTwo palette"></div>
      <div class="colorThree palette"></div>
    </label>
  </li>
</ul>
