<main class="landing">
  <h2 class="landing__subtitle">Crea tu tarjeta de visita</h2>
  <p class="landing__text">Crea mejores contactos profesionales de forma fácil y cómoda</p>

  <section class="landing__box fancy-border">
    <figure>
      <img src="" alt="" class="landing__img">
      <figcaption class="landing__img--text">Diseña</figcaption>
    </figure>
    <figure>
      <img src="" alt="" class="landing__img">
      <figcaption class="landing__img--text">Rellena</figcaption>
    </figure>
    <figure>
      <img src="" alt="" class="landing__img">
      <figcaption class="landing__img--text">Comparte</figcaption>
    </figure>
  </section>

  <a class="landing__btn" href="./create.html">Comenzar</a>
</main>