<main class="page">
  <load src="partials/preview.html" />

  
  <form class="form fancy-border">

    <!-- DESIGN -->

    <fieldset class="form__box ">
      <legend class="">
        <i class="fa-regular fa-object-ungroup"></i>
        <h2>Diseña</h2>
        <i class="fa-solid fa-chevron-up"></i>
      </legend>

      <div class="form__designinput">
        <load src="partials/form-design.html" />
      </div>
    </fieldset>

    <!-- FILL -->
    <fieldset class="form__box">
      <legend class="form__heading ">
        <i class="far fa-keyboard" aria-hidden="true"></i>
        <h2>Rellena</h2>
        <i class="fas fa-chevron-up" aria-hidden="true"></i>
      </legend>
      <div class="form__fillinput">
        <load src="partials/form-fill.html" />
      </div>
    </fieldset>

    <!-- SHARE -->
    <fieldset class="form__box">
      <legend class="form__heading">
        <i class="fas fa-share-alt" aria-hidden="true"></i>
        <h2>Comparte</h2>
        <i class="fas fa-chevron-up" aria-hidden="true"></i>
      </legend>
      <div class="form__shareinput">
        <load src="partials/form-share.html" />
      </div>
    </fieldset>

  </form>
  

</main>