<!-- PREVIEW -->
<section class="preview fancy-border">
  <button class="js__resetBtn">
    <i class="far fa-trash-alt" aria-hidden="true"></i> Reset
  </button>
  <article class="preview__card fancy-border js__previewCard">
    <div class="preview__header">
      <h2 class="preview__name js__namePreview">Nombre Apellidos</h2>
      <h3 class="preview__job js__jobPreview">Front-end developer</h3>
    </div>
    
    <div class="preview__photo js__profile-image"></div>

    <nav>
      <a class="preview__icon js__phonePreview" href="#">
        <i class="fas fa-phone"></i>
      </a>
      <a class="preview__icon js__emailPreview" href="#">
        <i class="far fa-envelope"></i>
      </a>
      <a class="preview__icon js__linkedinPreview" href="#">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a class="preview__icon js__githubPreview" href="#">
        <i class="fab fa-github-alt"></i>
      </a>
    </nav>
  </article>
</section>
<!-- END PREVIEW -->